.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  margin: 0;
}

.header .link-button {
  transition: background-color 0.3s ease;
}

.header .link-button:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

h1 {
  background: linear-gradient(90deg, #4148d0, #c850c0, #d2a85b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
