.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .link-button {
  transition: background-color 0.3s ease;
}

.header .link-button:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

h1 {
  background: linear-gradient(90deg, #4148d0, #c850c0, #d2a85b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold !important;
  font-size: 2rem !important;
}

.main-content {
  padding: 2rem;
  display: flex;
}
.left {
  width: 60%;
}
.right {
  width: 40%;
}
.cv-preview {
  width: 100%;
  min-height: 100vh;
  aspect-ratio: 8.5 / 11;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gap {
  padding: 5%;
}
.cv-preview > div {
  padding: 5%;
  height: 25%;
}
.contact {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.contact > * {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.cv-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 30px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: rgb(19, 19, 19);
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  color: rgb(19, 19, 19);
}
.section {
  padding-top: 2.5%;
  font-weight: bold;
}
.input-sect {
  margin-bottom: 10px;
}
.upper {
  display: flex;
  justify-content: space-between;
}
.company-title {
  display: flex;
}
.company-title > h5 {
  font-weight: bold;
}
.location {
  font-style: italic;
  padding-left: 5px;
}
